
        .container{
            padding: 5px;
            /*display: block;
            */
            background-color: grey;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            border: 5px solid black;
            width: 800px;
            height: 400px;
            border-radius: 20px;
        }
        .red{
            
            margin: 20px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: red;
        }
        .green{
            margin: 20px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: green;
        }
        .yellow{
            margin: 20px;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: yellow;
        }
